<!doctype html>
<html>
<style>
    #logo {
        height: 10px;
        width: 10px;
    }
</style>

<head>
    <title>Meadowlark Travel</title>
</head>

<body>
    <header><img id="logo" src="/img/logo.jpg" alt="Meadowlark Travel Logo"></header>
    {{{body}}}
</body>

</html>