<!doctype html>
<html>
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<head>
    <meta charset="utf-8">
    <title id="ttile">{{_sections.title}}</title>
    <link rel="icon" type="image/icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <h1 style="color: Green;">Meadowlark Travel<h1>
            <header><img id="logo" src="/img/logo.png" alt="Meadowlark Travel Logo"></header>

            {{{body}}}
            {{{_sections.scripts}}}

</body>

</html>