<!doctype html>
<html>
<style>
    #logo {
        height: 10px;
        width: 10px;
    }
</style>

<head>

    <title>{{_sections.title}}</title>
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>

<body>
    {{!-- <header><img id="logo" src="/img/logo.jpg" alt="Meadowlark Travel Logo"></header> --}}

    {{{body}}}
    {{!-- Volla, I'm super-secret --}}

</body>

</html>